body {
    display: flex;
    justify-content: center;
    background-color: #B2AC88;
}

/* main {
    height: inherit;
} */

.header {
    font-size: 52px;
    color: white;
    margin: 15px;
    text-align: center;
}

h1 {
    font-size: 30px;
    text-decoration: underline;
}

.content {
    height: inherit;
    display: flex;
    align-content: top;
    color: white;
    text-align: center;
}

.selectCity {
    margin: 10px;
    padding: 15px;
    border: 1px solid #5B6057;
    background-color: #8ca691;
    width: fit-content;
    border-radius: 12px;
}

button {
    margin: 5px;
    background-color: #f3e5ab;
    border: 1px solid #5B6057;
    width: 80%;

}

.weather {
    margin: 10px;
    display: flex;
    align-content: space-between;
    flex-flow: column;
    border: 1px solid #5B6057;
    background-color: #8ca691;
    border-radius: 12px;
    width: fit-content;
}

.day {
    text-align: center;
    background-color: #f3e5ab;
    margin: 10px;
    border-radius: 8px;
    color: black;
}

.content {
    display: flex
}
